.lesson {
    padding: 50px;
    min-height: 550px;
    background-image: repeating-linear-gradient(to right, #5d9634, #5d9634 100px, #538c2b 100px, #538c2b 200px);
    background-size: cover;
    padding: 20px 0px;
}

.lesson-boxes {
    width: 700px;
    height: 300px;
    margin: auto;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5 5 5 grey;
}

  