#SignUpLink {
    color: #E24E24;
}


.SignUp {
    display: grid;
  }
  
  .middleSignUp {
    min-height: 750px;
    background: url("../assets/LoginBackground.png") no-repeat center;
    background-size: cover;
  }
  
  .vamosAJugarSignUp {
    border-radius: 20px;
    margin: 70px auto 0 100px;
    width: 575px;
    height: 600px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3), 0 6px 20px 0 rgba(0,0,0,0.4);
    text-align: center;
    padding: 20px;
  }
  
  .signUp-title {
    color: rgba(0,143,149,1);
    font-size: 54px;
    font-family: 'Luckiest Guy', cursive;
  }

  
.signUpBox {
    text-align: center;
    padding: 20px 100px;
  }

  .signUp-logo {
    align-self: center;
    height: 50px;
  }

  .emailBoxSignUp {
    border-radius: 25px;
    border: 2px solid #E24E24;
    padding: 20px; 
    width: 400px;
    height: 15px;   
    outline: none;
    font-size: 16px;
    margin-bottom: 10px;
  }


  .SignUpButton{
    border-radius: 10px;
    border: 2px solid #E24E24;
    margin-top: 50px;
    padding: 10px;
    width: 300px;
    height: 70px;   
    outline: none;
    background-color:#E24E24; 
    color: white;

    text-align: center;
    cursor: pointer;
  }


  .SignUpButton-text{
    font-weight: 5px;
    font-size: 35px;
    margin-bottom: 40px;
      font-family: 'Luckiest Guy', cursive;
  }

  #passwordFirst {
      float: center;
      width: 170px;
      margin-right: 10px;
  }

  #passwordTwo {
      float: center;
      width: 170px;
  }