.lesson {
    padding: 50px;
    min-height: 550px;
    background-image: repeating-linear-gradient(to right, #5d9634, #5d9634 100px, #538c2b 100px, #538c2b 200px);
    background-size: cover;
    padding: 10px 0px;
}

.lesson-boxes {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.lesson-box {
    margin: 5px auto;
    width: 90%;
    height: 300px;
    background-color: white;
    border-radius: 15px;
    border: solid 2px white;
    box-shadow: 5 5 5 grey;
    overflow: hidden;

    &.top {
        border-radius: 15px 15px 0px 0px;
        display: flex;
        flex-direction: row;
        //font-family: 'century gothic', cursive;
        font-family: 'Muli', sans-serif;
    }

    &.bottom {
        border-radius: 0px 0px 15px 15px;
    }
}

.lesson-sublessons {
    display: flex;
    flex-direction: column;
    // width: 200px;
    min-width: 15%;
}

.sublesson {
    flex-grow: 1;
    text-align: right;
    padding: 10px;
    // background-color: #008F95;
    // border-bottom: solid 1px white;
    font-family: 'Luckiest Guy', cursive !important;
    color: white;
    cursor: pointer;
    &.selected {
        // background-color: #E14E24;
    }

    &:hover {
        // background-color: rgb(3, 181, 187);

        &.selected {
            // background-color: rgb(250, 95, 52);
        }
    }
}

.lesson-info {
    flex-grow: 3;
    margin: 0px 2px 0px 2px;
    padding: 0 10px;
    background-color: #EBF4F7;
    max-width: 50%;
}

.lesson-info-title {
    border-bottom: solid 1px black;
    // font-family: 'Luckiest Guy', cursive !important;
    margin-bottom: 0;
}

.lesson-info-text {
    overflow-y: scroll;

    & p {
        margin: 5px 0 !important;
    }
}

.lesson-intructions {
    flex-grow: 3;
    padding: 0px 10px; 
    background-color: rgb(214, 237, 245);
}

.lessons-link {
    text-decoration: none;
    background-color: #008F95;
    flex-grow: 1;
    border-bottom: solid 1px white;

    &.last-sublesson {
        border-bottom: none;
    }
    &.selected {
        background-color: #E14E24;
    }

    &:hover {
        background-color: rgb(3, 181, 187);

        &.selected {
            background-color: rgb(250, 95, 52);
        }
    }
}